---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Catalog from "../../components/svelte/Catalog.svelte";

// Recuperiamo tutti gli elementi della content collection "beers"
const allBeers = await getCollection("beers");

// Prepariamo l'array di dati da passare a Svelte (Svelte non "capisce" i metodi Astro intrinsechi come 'render', dobbiamo passargli un oggetto JSON serializzabile)
const svelteBeers = allBeers.map((beer) => ({
    id: beer.id,
    body: beer.body,
    collection: beer.collection,
    data: beer.data,
    slug: beer.slug,
}));

const pageTitle = "Catalogo Prodotti";
const pageDescription =
    "Esplora il nostro catalogo. Filtra le migliori birre per i professionisti del settore Horeca.";
---

<Layout title={pageTitle} description={pageDescription}>
    <div class="container-full section-padding">
        <Catalog client:load initialBeers={svelteBeers} />
    </div>
</Layout>

<style>
    .container-full {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .section-padding {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
</style>
